<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
</head>

<body>
    <div class="container">
        <form action="http://localhost:5000" method="post" class="searchbar">
            <input type="text" placeholder="search" name="search">
            <button type="submit"><img src="search.jpg"></button>
            
        </form>
        <h1 class="text">{{output}}</h1>
    </div>


    </div>
</body>
</html>